@media screen and (min-width: 800px) {

  
body {
  background-image: url("/../images/site/checkerboard.jpg");
  background-size:30em 30em;
  background-repeat: repeat;
}

#wrapper {
  background: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding: 10px;
  border-radius: 2%;
  border-style: solid;
  border-width: 5px;
  border-color: #05bce0;
}

#body-content {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#delorean-reviews {
  grid-column: 2/3;
  grid-row: 1/2;
}

#delorean-reviews h1{
  text-align: center;
}

#delorean-reviews ul {
  padding-top: 10%;
}

#delorean-upgrades {
  grid-column: 1/2;
  grid-row: 1/2;
}

/******* Detail Page *******/

#vehicle {
  display: grid;
  grid-template-columns: 65% 25%;
  gap: 5px;
  text-align: center;
  background:rgba(18, 163, 182, 0.63);
  padding: 15px;
  border-radius: 15%;
  border: solid #05bce0;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

#vehicleImg {
  columns: 1/2;
}

#vehicleImg img {
  max-width: 100%;
  border-radius: 15%;
  border: solid #05bce0;
}

#vehicleDetails {
  columns: 2/3;
  background:rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15%;
  border: solid #05bce0;
  margin-right: 20%;
  margin-left: -5%;
  min-width: 250px;
}

#vehicleDescription {
  text-align: left;
}

#vehicleDescription h4 {
  text-align: center;
}

}