<%# Unit 4, Assignment %>

<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
 <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<form id="add-classification-form" action="/inv/add-classification/" method="post">
  <label for="classification_name">Classification Name:</label><br>
  <input type="text" id="classification_name" name="classification_name" required value="<%= locals.classification_name %>"><br>
  <input id="submit" type="submit" value="Add">
</form>